// Specific CSS for your home-page

.subscriptio-btn-primary {
    color: white;
    font-size: 1em;
    padding: 8px 24px;
    border-radius: 4px;
    background: $subscriptio-green;
    transition: background 0.3s ease;
  }
  .subscriptio-btn-primary:hover {
    background: $subscriptio-dark-green;
    color: white;
    text-decoration: none;
  }
  .subscriptio-btn-secondary {
    color: $subscriptio-blue;
    font-size: 1em;
    padding: 8px 24px;
    border-radius: 4px;
    transition: background 0.3s ease;
    border: 1px solid $subscriptio-blue;
}
  .subscriptio-btn-secondary:hover {
    color: $subscriptio-dark-blue;
    border: 1px solid $subscriptio-dark-blue;
    text-decoration: none;
  }

.home-image img {
  width: 400px;
  height: 240px;
  padding: 24px 8px;

}

.home-image-info {
  padding: 16px 48px 16px 16px;
  p {
    text-align: justify;
  }
}
