<h1>all software plans for <%=  @software.name%></h1>


<ul>
	<% @softwarePlans.each do |sp| %>
	  <li><%= link_to sp.name, software_software_plan_path(@software, sp.id) %></li>

    <% end %>
</ul>

<p><%= link_to "add a new plan", new_software_software_plan_path(@software)%></p>

